$bg-color: #e6e5e3;
$main-color: #241400;
$bronze-light: #b58f4f;
$bronze-hard: #ab803f;
$red-color: #7a0406;
$yellow-color: #cbab58;
$transition: all 0.4s ease-in;
$white-opacity: rgba(255, 255, 255, 0.8);
body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background: $bg-color;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 129.9%;
    text-transform: uppercase;
    color: $red-color;
    &.element-animation.element-show {
        transition-delay: 0.5s;
    }
}
h2 {
    font-size: 24px;
    line-height: 129.9%;
    font-weight: 400;
    &.element-animation.element-show {
        transition-delay: 0.9s;
    }
}
h4 {
    font-weight: 300;
    font-size: 22px;
    line-height: 129.9%;
    &.element-animation.element-show {
        transition-delay: 0.1s;
    }
}
.section__title {
    padding: 0 200px 15px 200px;
    margin: 0 auto;
    max-width: fit-content;
    border-bottom: $main-color 2px solid;
    margin-bottom: 50px;
    h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 129.9%;
        text-align: center;
        text-transform: uppercase;
    }
}
.element-animation {
    opacity: 0;
    transform: translate(0, 50px);
}
.element-animation.element-show {
    opacity: 1;
    transition: 1s all ease 0.1s;
    transform: translate(0, 0);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 129.9%;
    color: #fff;
    background: $bronze-light;
    max-width: fit-content;
    transition: $transition;
    &:hover {
        background: $bronze-hard;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
    overflow: hidden;
}

nav {
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: $white-opacity;
    z-index: 100;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        img {
            max-width: 100px;
        }
    }
    .navbar__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;
    }
    .navbar__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        transition: $transition;
        &:hover {
            color: $bronze-hard;
        }
    }
    .navbar__contacts {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .navbar__dental {
        display: flex;
        flex-direction: column;
    }
    .navbar-dental__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: none;
    }
    .burger-btn {
        display: none;
    }
}
header {
    padding: 200px 0;
    background: url(../img/header/header.png);
    background-repeat: no-repeat;
    background-size: 500px 100%;
    background-position: right bottom;
    .header__title {
        padding-left: 180px;
        h1 {
            margin-bottom: 0.2em;
        }
    }
}
.ad {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 20px 0;
}
.swiper {
    padding: 50px 0;
    position: relative;
    .swiper-wrapper {
        padding-bottom: 50px;
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 75px;
            height: 4px;
            border-radius: 0;
            background: $main-color;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background: $bronze-light;
            }
        }
    }
    .swiper__btns {
        display: flex;
        gap: 50px;
        align-items: center;
        position: relative;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: unset;
        width: unset;
        svg {
            width: 50px;
        }
        &.swiper-button-disabled {
            opacity: 0.6;
            svg {
                path {
                    fill: $main-color;
                }
            }
        }
        &::after {
            content: "";
        }
    }

    .swiper-button-prev {
        transform: rotate(180deg);
    }
}

.benefits {
    background: url(../img/benefits/benefit-bg.png);
    background-color: $white-opacity;
    margin-top: -50px;
    background-position: left;
    background-size: 300px 105%;
    background-repeat: no-repeat;
    padding: 50px 0;
    .benefits__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 50%;
        margin-left: auto;
    }
    .benefits__item {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 129.9%;
        border-bottom: 2px solid $bronze-hard;
        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 129.9%;
            color: $red-color;
            text-decoration: underline;
        }
    }
    .benefits__number {
        color: $red-color;
        font-size: 46px;
        line-height: 129.9%;
    }
}
.services {
    .services__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    .services__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        border-bottom: 2px solid $bronze-light;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 129.9%;
        img {
            height: 100px;
        }
    }
}
.works {
    .slide__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .slide__content {
        font-size: 18px;
    }
    .slide__img {
        width: 300px;
        height: 300px;
        background: rgb(86, 35, 35);
        flex-shrink: 0;
    }
}

.price {
    .price__wrapper {
        margin-bottom: 20px;
    }
    .price__btns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
    .price__btn-item {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px $yellow-color solid;
        font-weight: 500;
        font-size: 20px;
        line-height: 129.9%;
        cursor: pointer;
        transition: $transition;
        &:hover,
        &.price__btn-item--active {
            color: $bronze-hard;
        }
        &:nth-child(1) {
            &.element-animation {
                transform: translate(0);
                &.element-show {
                    transition-delay: 0.1s;
                }
            }
        }
        &:nth-child(2) {
            &.element-animation {
                transform: translate(0);
                &.element-show {
                    transition-delay: 0.3s;
                }
            }
        }
        &:nth-child(3) {
            &.element-animation {
                transform: translate(0);
                &.element-show {
                    transition-delay: 0.5s;
                }
            }
        }
        &:nth-child(4) {
            &.element-animation {
                transform: translate(0);
                &.element-show {
                    transition-delay: 0.7s;
                }
            }
        }
    }
    .price__contents {
        overflow: hidden;
    }

    .price__contents-item {
        top: -50px;
        height: 0;
        opacity: 0;
        position: relative;
        pointer-events: none;
        &.price__contents-item--active {
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            opacity: 1;
            transition: 1s opacity;
            height: unset;
            pointer-events: unset;
        }
        &[data-price="therapy"]::after {
            background: url(../img/services/root.svg);
            background-repeat: no-repeat;
            background-size: 100% 250px;

            background-position: center;
        }
        &[data-price="orthopedia"]::after {
            background: url(../img/services/orthopedia.svg);
            background-repeat: no-repeat;
            background-size: 100% 250px;

            background-position: center;
        }
        &[data-price="implantation"]::after {
            background: url(../img/services/implantation.svg);
            background-repeat: no-repeat;
            background-size: 100% 250px;

            background-position: center;
        }
        &[data-price="surgery"]::after {
            background: url(../img/services/surgery.svg);
            background-repeat: no-repeat;
            background-size: 100% 250px;
            background-position: center;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            transform: rotate(25deg);
            opacity: 0.3;
            pointer-events: none;
        }
    }

    .price__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 80%;
        width: 100%;
        li {
            border-bottom: 1px $main-color solid;
            padding: 15px 5px;
            transition: $transition;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            &:hover {
                background: $bronze-light;
                color: #fff;
            }
        }
    }

    .price__cost {
        font-weight: 500;
    }
    .price__description {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        max-width: 60%;
        margin: 0 auto 1em;
    }
    .btn {
        margin: 0 auto;
    }
}
.lab {
    .lab__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 128%;
            text-transform: uppercase;
            max-width: 65%;
            text-align: end;
        }
        img {
            width: 300px;
            flex-shrink: 0;
        }
    }
}
.contacts {
    padding-bottom: 50px;
    .contacts__wrapper {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    .contacts__branches {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .contacts__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .branch__photo {
        height: 250px;
        width: 250px;
        background: #000;
    }
    .contacts-item__address {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p,
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
        }
        a {
            &:hover {
                color: $bronze-light;
            }
        }
    }
    .contacts__map {
        .map-img {
            height: 600px;
        }
        position: relative;
        a {
            display: flex;
            align-items: center;
            position: absolute;
            span {
                &:hover {
                    transition: 0.4s !important;
                    transition-delay: 0;
                    transform: scale(1.05) translateX(5%) !important;
                }
                background: $bronze-hard;
                padding: 10px 15px;
                font-weight: 500;
                color: #fff;
                box-shadow: 5px 5px 0px $yellow-color;

                &.element-animation {
                    transform: translate(50px, 0);
                    transition: 1s;
                    transition-delay: 1s;

                    &.element-show {
                        transform: translate(0);
                        transition-delay: 0.1s;
                    }
                }
            }
            img {
                &.element-animation {
                    transform: translate(0, -10px);
                    transition: 1s;
                    transition-delay: 1s;
                    &.element-show {
                        transform: translate(0);
                    }
                }
            }
        }
        a[data-address="1"] {
            top: 10px;
            left: 48%;
        }
        a[data-address="2"] {
            left: 48%;
            bottom: 50px;
        }
    }
}

// Media
@media screen and (max-width: 1340px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 1170px) {
    .container {
        max-width: 960px;
        gap: 20px;
    }
    main {
        gap: 100px;
    }
    .section__title {
        padding: 0 100px 15px 100px;
        h3 {
            font-size: 28px;
        }
    }
    nav {
        .logo {
            img {
                max-width: 75px;
            }
        }
        .navbar__menu {
            gap: 20px;
        }
        .navbar__link {
            font-size: 16px;
        }
        .navbar-dental__link {
            font-size: 14px;
        }
    }
    header {
        padding: 150px 0;
        background-size: 400px 100%;
        .header__title {
            padding-left: 0;
            h1 {
                font-size: 48px;
            }
        }
    }
    .services {
        .services__wrapper {
            column-gap: 20px;
        }
        .services__item {
            font-size: 18px;
            text-align: center;
            justify-content: space-between;
            img {
                height: 75px;
            }
        }
    }
    .contacts {
        .contacts__wrapper {
            gap: 25px;
        }
        .contacts__branches {
            gap: 20px;
        }
        .branch__photo {
            width: 200px;
            height: 200px;
        }
        .contacts__map {
            .map-img {
                height: 450px;
            }
        }
        .contacts-item__address {
            p,
            a {
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 860px;
        padding: 0 15px;
    }
    .section__title {
        h3 {
            font-size: 24px;
        }
    }
    nav {
        .container {
            flex-wrap: wrap;
            justify-content: unset;
            row-gap: 10px;
        }
        .navbar__contacts {
            justify-content: center;
            flex-grow: 1;
            gap: 100px;
        }

        .navbar__menu {
            order: 3;
            flex-basis: 100%;
        }
    }
    header {
        padding: 250px 0 150px 0;
        background-size: 400px 90%;
    }
    .benefits {
        .benefits__wrapper {
            max-width: 70%;
        }
        .benefits__item {
            font-size: 18px;
        }
        .benefits__number {
            font-size: 38px;
        }
    }
    .swiper {
        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 50px;
            }
        }
    }
    .contacts {
        .contacts__wrapper {
            flex-direction: column;
        }
        .contacts__branches {
        }
        .contacts-item__address {
            gap: 10px;
        }
        .contacts__map {
            a[data-address="2"] {
                left: 46%;
                bottom: 40px;
            }
            .map-img {
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 720px;
    }
    header {
        padding: 150px 0 100px;
        background-size: 350px 100%;
    }
    nav {
        .burger-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30px;
            height: 18px;
            position: relative;
            z-index: 999;
            span,
            &::after,
            &::before {
                width: 100%;
                background: $bronze-hard;
                height: 3px;
            }
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            &::after,
            &::before {
                content: "";
                left: 0;
                position: absolute;
            }
            span {
                transform: scale(1);
            }
            &.burger-btn--active {
                position: relative;
                span {
                    transform: scale(0);
                    background: #fff;
                }
                &::before {
                    top: 44%;
                    transform: rotate(45deg);
                    background: #fff;
                }
                &::after {
                    bottom: 40%;
                    transform: rotate(-45deg);
                    background: #fff;
                }
            }
        }
        .navbar__menu {
            position: fixed;
            background: $main-color;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            top: -100%;
            height: 0;
            width: 100%;
            left: 0;
            transition: 0.4s;
            height: 100%;
            z-index: 998;
            color: #fff;
            row-gap: 2em;
            &.navbar__menu--active {
                opacity: 1;
                height: 100%;
                top: 0;
            }
        }
        .navbar__contacts {
            gap: 50px;
        }
    }
    .services {
        .services__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .price {
        .price__btns {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .works {
        .slide__inner {
        }
        .slide__content {
            font-size: 16px;
        }
        .slide__img {
            width: 250px;
            height: 250px;
        }
    }
    .lab {
        .lab__wrapper {
            gap: 30px;
            img {
                width: 150px;
                flex-shrink: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .section__title {
        max-width: 100%;
        padding: 0 0 15px;
        h3 {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: unset;
    }
    main {
        gap: 70px;
    }
    nav {
        .container {
            justify-content: space-between;
        }
        .navbar__contacts {
            display: none;
        }
    }
    header {
        padding: 100px 0 75px;
        background-color: $white-opacity;
        .header__title {
            text-align: center;
            h4 {
                font-weight: 400;
            }
        }
    }
    .benefits {
        .benefits__wrapper {
            max-width: unset;
        }
        .benefits__number {
            font-size: 28px;
        }
    }
    .services {
        .services__wrapper {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .services__item {
            gap: 15px;
        }
    }
    .price {
        .price__btns {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .price__btn-item {
            font-size: 18px;
        }
        .price__list {
            li {
                font-size: 16px;
            }
        }
        .price__contents-item {
            &.price__contents-item--active {
                padding: 0;
                margin-top: 25px;
            }
        }
        .price__list {
            max-width: 100%;
        }
        .price__description {
            max-width: unset;
        }
    }
    .swiper {
        padding: 25px 0;

        .swiper-pagination {
            .swiper-pagination-bullet {
                height: 3px;
            }
        }
        .swiper__btns {
            justify-content: center;
            margin-bottom: 25px;
        }
    }
    .works {
        .slide__inner {
            flex-direction: column;
            gap: 20px;
        }
        .slide__content {
            font-size: 16px;
            border-bottom: 1px solid $main-color;
            padding-bottom: 15px;
            text-align: center;
        }
        .slide__img {
            width: 250px;
            height: 250px;
        }
    }
    .lab {
        .lab__wrapper {
            gap: 30px;
            flex-direction: column;
            p {
                text-align: center;
                max-width: unset;
                border-bottom: 1px solid $main-color;
                padding-bottom: 15px;
                font-size: 16px;
            }
            img {
                width: 150px;
                flex-shrink: 0;
                order: 1;
            }
        }
    }
    .contacts{
        .branch__photo{
            width: 150px;
            height: 150px;
        }
        .contacts__branches{
            flex-wrap: wrap;
        }
        .contacts-item__address{
            p, a{
                font-size: 16px;
            }
        }
        .contacts__map{
         a[data-address="1"],
         a[data-address="2"]{
            left: 20%;
            font-size: 14px;
            gap: 5px;
         }
         a[data-address="1"]{
            flex-direction: column;
            top: 0;
         }
         a[data-address="2"]{
            flex-direction: column-reverse;
            bottom: 10px;
         }
            .map-img{
                height: 290px;
            }
        }
    }
}
