body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background: #e6e5e3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 129.9%;
  text-transform: uppercase;
  color: #7a0406;
}
h1.element-animation.element-show {
  transition-delay: 0.5s;
}

h2 {
  font-size: 24px;
  line-height: 129.9%;
  font-weight: 400;
}
h2.element-animation.element-show {
  transition-delay: 0.9s;
}

h4 {
  font-weight: 300;
  font-size: 22px;
  line-height: 129.9%;
}
h4.element-animation.element-show {
  transition-delay: 0.1s;
}

.section__title {
  padding: 0 200px 15px 200px;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: #241400 2px solid;
  margin-bottom: 50px;
}
.section__title h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 129.9%;
  text-align: center;
  text-transform: uppercase;
}

.element-animation {
  opacity: 0;
  transform: translate(0, 50px);
}

.element-animation.element-show {
  opacity: 1;
  transition: 1s all ease 0.1s;
  transform: translate(0, 0) !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 129.9%;
  color: #fff;
  background: #b58f4f;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background: #ab803f;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
  overflow: hidden;
}

nav {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img {
  max-width: 100px;
}
nav .navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}
nav .navbar__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
}
nav .navbar__link:hover {
  color: #ab803f;
}
nav .navbar__contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .navbar__dental {
  display: flex;
  flex-direction: column;
}
nav .navbar-dental__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: none;
}
nav .burger-btn {
  display: none;
}

header {
  padding: 200px 0;
  background: url(../img/header/header.png);
  background-repeat: no-repeat;
  background-size: 500px 100%;
  background-position: right bottom;
}
header .header__title {
  padding-left: 180px;
}
header .header__title h1 {
  margin-bottom: 0.2em;
}

.ad {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 20px 0;
}

.swiper {
  padding: 50px 0;
  position: relative;
}
.swiper .swiper-wrapper {
  padding-bottom: 50px;
}
.swiper .swiper-pagination {
  bottom: 0;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 75px;
  height: 4px;
  border-radius: 0;
  background: #241400;
  opacity: 1;
}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #b58f4f;
}
.swiper .swiper__btns {
  display: flex;
  gap: 50px;
  align-items: center;
  position: relative;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  position: unset;
  width: unset;
}
.swiper .swiper-button-prev svg,
.swiper .swiper-button-next svg {
  width: 50px;
}
.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0.6;
}
.swiper .swiper-button-prev.swiper-button-disabled svg path,
.swiper .swiper-button-next.swiper-button-disabled svg path {
  fill: #241400;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  content: "";
}
.swiper .swiper-button-prev {
  transform: rotate(180deg);
}

.benefits {
  background: url(../img/benefits/benefit-bg.png);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: -50px;
  background-position: left;
  background-size: 300px 105%;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.benefits .benefits__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
  margin-left: auto;
}
.benefits .benefits__item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 129.9%;
  border-bottom: 2px solid #ab803f;
}
.benefits .benefits__item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 129.9%;
  color: #7a0406;
  text-decoration: underline;
}
.benefits .benefits__number {
  color: #7a0406;
  font-size: 46px;
  line-height: 129.9%;
}

.services .services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.services .services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid #b58f4f;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 129.9%;
}
.services .services__item img {
  height: 100px;
}

.works .slide__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.works .slide__content {
  font-size: 18px;
}
.works .slide__img {
  width: 300px;
  height: 300px;
  background: rgb(86, 35, 35);
  flex-shrink: 0;
}

.price .price__wrapper {
  margin-bottom: 20px;
}
.price .price__btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.price .price__btn-item {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px #cbab58 solid;
  font-weight: 500;
  font-size: 20px;
  line-height: 129.9%;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.price .price__btn-item:hover, .price .price__btn-item.price__btn-item--active {
  color: #ab803f;
}
.price .price__btn-item:nth-child(1).element-animation {
  transform: translate(0);
}
.price .price__btn-item:nth-child(1).element-animation.element-show {
  transition-delay: 0.1s;
}
.price .price__btn-item:nth-child(2).element-animation {
  transform: translate(0);
}
.price .price__btn-item:nth-child(2).element-animation.element-show {
  transition-delay: 0.3s;
}
.price .price__btn-item:nth-child(3).element-animation {
  transform: translate(0);
}
.price .price__btn-item:nth-child(3).element-animation.element-show {
  transition-delay: 0.5s;
}
.price .price__btn-item:nth-child(4).element-animation {
  transform: translate(0);
}
.price .price__btn-item:nth-child(4).element-animation.element-show {
  transition-delay: 0.7s;
}
.price .price__contents {
  overflow: hidden;
}
.price .price__contents-item {
  top: -50px;
  height: 0;
  opacity: 0;
  position: relative;
  pointer-events: none;
}
.price .price__contents-item.price__contents-item--active {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  opacity: 1;
  transition: 1s opacity;
  height: unset;
  pointer-events: unset;
}
.price .price__contents-item[data-price=therapy]::after {
  background: url(../img/services/root.svg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: center;
}
.price .price__contents-item[data-price=orthopedia]::after {
  background: url(../img/services/orthopedia.svg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: center;
}
.price .price__contents-item[data-price=implantation]::after {
  background: url(../img/services/implantation.svg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: center;
}
.price .price__contents-item[data-price=surgery]::after {
  background: url(../img/services/surgery.svg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: center;
}
.price .price__contents-item::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotate(25deg);
  opacity: 0.3;
  pointer-events: none;
}
.price .price__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
  width: 100%;
}
.price .price__list li {
  border-bottom: 1px #241400 solid;
  padding: 15px 5px;
  transition: all 0.4s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.price .price__list li:hover {
  background: #b58f4f;
  color: #fff;
}
.price .price__cost {
  font-weight: 500;
}
.price .price__description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 60%;
  margin: 0 auto 1em;
}
.price .btn {
  margin: 0 auto;
}

.lab .lab__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lab .lab__wrapper p {
  font-size: 18px;
  font-weight: 300;
  line-height: 128%;
  text-transform: uppercase;
  max-width: 65%;
  text-align: end;
}
.lab .lab__wrapper img {
  width: 300px;
  flex-shrink: 0;
}

.contacts .contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__filials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contacts .contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__item img {
  max-height: 150px;
}

@media screen and (max-width: 1340px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1170px) {
  .container {
    max-width: 960px;
    gap: 20px;
  }
  main {
    gap: 100px;
  }
  .section__title {
    padding: 0 100px 15px 100px;
  }
  .section__title h3 {
    font-size: 28px;
  }
  nav .logo img {
    max-width: 75px;
  }
  nav .navbar__menu {
    gap: 20px;
  }
  nav .navbar__link {
    font-size: 16px;
  }
  nav .navbar-dental__link {
    font-size: 14px;
  }
  header {
    padding: 150px 0;
    background-size: 400px 100%;
  }
  header .header__title {
    padding-left: 0;
  }
  header .header__title h1 {
    font-size: 48px;
  }
  .services .services__wrapper {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .services .services__item {
    font-size: 18px;
    text-align: center;
    justify-content: space-between;
  }
  .services .services__item img {
    height: 75px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 860px;
    padding: 0 15px;
  }
  .section__title h3 {
    font-size: 24px;
  }
  nav .container {
    flex-wrap: wrap;
    justify-content: unset;
    row-gap: 10px;
  }
  nav .navbar__contacts {
    justify-content: center;
    flex-grow: 1;
    gap: 100px;
  }
  nav .navbar__menu {
    order: 3;
    flex-basis: 100%;
  }
  header {
    padding: 250px 0 150px 0;
    background-size: 400px 90%;
  }
  .benefits .benefits__wrapper {
    max-width: 70%;
  }
  .benefits .benefits__item {
    font-size: 18px;
  }
  .benefits .benefits__number {
    font-size: 38px;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 50px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  header {
    padding: 150px 0 100px;
    background-size: 350px 100%;
  }
  nav .burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 999;
  }
  nav .burger-btn span, nav .burger-btn::after, nav .burger-btn::before {
    width: 100%;
    background: #ab803f;
    height: 3px;
  }
  nav .burger-btn::after {
    bottom: 0;
  }
  nav .burger-btn::before {
    top: 0;
  }
  nav .burger-btn::after, nav .burger-btn::before {
    content: "";
    left: 0;
    position: absolute;
  }
  nav .burger-btn span {
    transform: scale(1);
  }
  nav .burger-btn.burger-btn--active {
    position: relative;
  }
  nav .burger-btn.burger-btn--active span {
    transform: scale(0);
    background: #fff;
  }
  nav .burger-btn.burger-btn--active::before {
    top: 44%;
    transform: rotate(45deg);
    background: #fff;
  }
  nav .burger-btn.burger-btn--active::after {
    bottom: 40%;
    transform: rotate(-45deg);
    background: #fff;
  }
  nav .navbar__menu {
    position: fixed;
    background: #241400;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    top: -100%;
    height: 0;
    width: 100%;
    left: 0;
    transition: 0.4s;
    height: 100%;
    z-index: 998;
    color: #fff;
    row-gap: 2em;
  }
  nav .navbar__menu.navbar__menu--active {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  nav .navbar__contacts {
    gap: 50px;
  }
  .services .services__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .price .price__btns {
    grid-template-columns: repeat(2, 1fr);
  }
  .works .slide__content {
    font-size: 16px;
  }
  .works .slide__img {
    width: 250px;
    height: 250px;
  }
  .lab .lab__wrapper {
    gap: 30px;
  }
  .lab .lab__wrapper img {
    width: 150px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 600px) {
  .section__title {
    max-width: 100%;
    padding: 0 0 15px;
  }
  .section__title h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: unset;
  }
  main {
    gap: 70px;
  }
  nav .container {
    justify-content: space-between;
  }
  nav .navbar__contacts {
    display: none;
  }
  header {
    padding: 100px 0 75px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .header__title {
    text-align: center;
  }
  header .header__title h4 {
    font-weight: 400;
  }
  .benefits .benefits__wrapper {
    max-width: unset;
  }
  .benefits .benefits__number {
    font-size: 28px;
  }
  .services .services__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .services .services__item {
    gap: 15px;
  }
  .price .price__btns {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .price .price__btn-item {
    font-size: 18px;
  }
  .price .price__list li {
    font-size: 16px;
  }
  .price .price__contents-item.price__contents-item--active {
    padding: 0;
    margin-top: 25px;
  }
  .price .price__list {
    max-width: 100%;
  }
  .price .price__description {
    max-width: unset;
  }
  .swiper {
    padding: 25px 0;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet {
    height: 3px;
  }
  .swiper .swiper__btns {
    justify-content: center;
    margin-bottom: 25px;
  }
  .works .slide__inner {
    flex-direction: column;
    gap: 20px;
  }
  .works .slide__content {
    font-size: 16px;
    border-bottom: 1px solid #241400;
    padding-bottom: 15px;
    text-align: center;
  }
  .works .slide__img {
    width: 250px;
    height: 250px;
  }
  .lab .lab__wrapper {
    gap: 30px;
    flex-direction: column;
  }
  .lab .lab__wrapper p {
    text-align: center;
    max-width: unset;
    border-bottom: 1px solid #241400;
    padding-bottom: 15px;
    font-size: 16px;
  }
  .lab .lab__wrapper img {
    width: 150px;
    flex-shrink: 0;
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */